html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  img {
    max-width: 100%;
    border-radius: 20px;
  }
  
  body {
    font-family: 'font', sans-serif;
  }

  .main-content {
    display: flex;
  
    flex-direction: column;
  
    align-items: center;
  
    justify-content: center;
  
    min-height: 100px;
  
    color: #fff;

    background-image: url(./oriental-tiles.png);
  }

  ul {
    padding: 0;
  }

  .logo {
    width: 375px;
    display: block;
    margin: 30px 0 30px 0;
    box-shadow: 5px 3px 100px #000;
  }

  .yt {
    box-shadow: 5px 3px 100px #000;
    border-radius: 20px;
    margin-bottom: 30px;
  }

  .releases-title {
    color: #fff;
    
  }

  .friday {
    background-image: url(./icon-friday3.png);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: bottom 36% right;
  }

  .subtitle {
    font-size: small;
  }

  .title {
    margin: 0;
    text-shadow: 5px 3px 10px #000;
    text-align: center;
    width: 375px;
    height: 80px;
    border-radius: 20px;
    box-shadow: 5px 3px 50px #000;
    background-color: #102b3c;
  }

  a { 
    color: #fff; 
    text-decoration: none;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .september {
    text-shadow: 5px 3px 10px #000;
  }

  .releases-list {
    width: 375px;
    border-radius: 20px;
    box-shadow: 5px 3px 50px #000;
    color: #10b6e1;
    background-color: #102b3c;
    padding: 20px;
    margin-bottom: 20px;
  }

  .releases {
    color: #fff;
    background-image: url(./icon-fire3.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right center;
  }
